################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NugetClient/.vs/NugetClient/v16
/TestNuget/.vs/TestNuget/v16
